.env
.env.*
!.env.example

node_modules/
npm-debug.log

vendor/

.git/
.github/
.gitignore

storage/app/public/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/*.key

bootstrap/cache/*.php

public/storage

*.md
Docs/
tests/
